.carousel {
  padding: 2rem 1rem 2.5rem 1rem;
  text-align: center;
  background-color: #ECEBE7;

  @media (min-width: 1280px) {
    padding: 2.5rem 1rem 5rem 5rem;
  }

  &__title-container {
    position: relative;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin: 0;
    text-align: left;
    color: #627184;

    @media (min-width: 1280px) {
      font-size: 1.5rem;
      padding-bottom: 1.75rem;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
  }

  &__scroller {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0.75rem;
    scroll-behavior: smooth;
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 768px) {
      justify-content: center;
      overflow-x: visible;
    }

    @media (min-width: 1280px) {
      gap: 1rem;
    }
  }

  &__item {
    flex: 0 0 80%;
    scroll-snap-align: center;
    transition: transform 0.3s ease;

    @media (min-width: 768px) {
      flex: 0 0 45%;
    }

    @media (min-width: 1024px) {
      flex: 0 0 30%;
    }

    @media (min-width: 1280px) {
      flex: 0 0 18%;
    }
  }

  &__video-container {
    position: relative;
    width: 100%;
  }

  &__video-box {
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    border: 4px solid transparent; 
    transition: border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
      transform: scale(1.02);
      cursor: pointer;
    }

    &--active {
      border: 4px solid #69A2FF;
    }
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    aspect-ratio: 16 / 27;
  }

  &__caption {
    margin-top: 0.25rem;
    text-align: left;
    font-size: 0.66rem;
    font-weight: 500;
    color: #627184;

    @media (min-width: 1280px) {
      font-size: 0.9rem;
    }
  }

  &__controls {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1280px) {
      top: 0.75rem;
    }

    button {
      background: rgba(0, 0, 0, 0);
      border: none;
      border-radius: 9999px;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    button svg {
      transition: transform 0.1s ease;
    }

    button:active svg {
      transform: scale(1.2);
    }

    img {
      height: 1.8rem;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;

    @media (min-width: 1280px) {
      top: 15%;
    }

    &--prev {
      right: 4.5rem;

      @media (min-width: 1280px) {
        left: unset;
        right: 7.7rem;
        background-color: white;
        border-radius: 99%;
      }
    }

    &--next {
      right: 0.5rem;

      @media (min-width: 1280px) {
        right: 4rem;
        background-color: white;
        border-radius: 99%;
      }
    }
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      height: 100%;
      width: 50%;
      background: linear-gradient(to right, #69A2FF, transparent);
      animation: scrollbar-loop 4s linear infinite;
    }
  
  }
  
  @keyframes scrollbar-loop {
    from {
      left: -50%;
    }
    to {
      left: 100%;
    }
  }

  &__favorites-button {
    position: absolute;
    bottom: 1.5rem;
    right: 11.25rem;
    background-color: #0f172a;
    color: white;
    padding: 0.75rem;
    border-radius: 9999px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    z-index: 50;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: #1e293b;
    }

    @media (max-width: 1279px) {
      bottom: 0.7rem;
      right: 2.5rem;
    }
  }

  &__modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
  }

  &__modal {
    background: white;
    border-radius: 1rem;
    max-width: 90%;
    width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 2rem;
    position: relative;
    z-index: 41;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    @media (min-width: 1280px) {
      max-width: 600px;
    }

    &-thumb {
        width: 5rem;
        height: 10rem;
        border-radius: 0.5rem;
        object-fit: cover;
    }
  }

  &__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #0f172a;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

  &__modal-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #0f172a;
    text-align: center;
  }

  &__modal-list {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

    p {
      flex-grow: 1;
      margin: 0;
      font-weight: 500;
      color: #0f172a;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        color: red;
      }
    }
  }

  &__modal-empty {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.95rem;
    color: #64748b;

    p {
      margin-bottom: 1.5rem;
    }

    button {
      background-color: #0f172a;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 9999px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #1e293b;
      }
    }
  }
}